@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Adicione aqui suas personalizações Bootstrap */
/* Paleta de cores verde */
:root {
  --cor-primaria: #4CAF50; /* Verde principal */
  --cor-secundaria: #8BC34A; /* Verde secundário */
  --cor-fundo: #E0F7FA; /* Fundo verde claro */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, var(--cor-fundo), var(--cor-secundaria));
  
}
h1 {
  color: #28a745; /* Cor verde do Bootstrap */
}
/* Estilo para o botão de login */
.btn-primary {
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}

.btn-primary:hover {
  background-color: var(--cor-secundaria);
  border-color: var(--cor-secundaria);
}

/* Estilo para o bloco branco */
.bg-white {
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 8px;
}

/* Adicione mais estilos conforme necessário */

/* Estilo para o card */
.card {
  border: none;
}

/* Adicione mais estilos conforme necessário */
.form-control:focus {
  border-color: var(--cor-primaria);
  box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.25);
}